<div class="chart-container" ref:chart></div>

<script>
import LayerCake from 'layercake';
import points from '../../data/points.js';
import Scatter from '../Scatter.html';
import AxisX from '../AxisX.html';
import AxisY from '../AxisY.html';

export default {
	oncreate () {
		const r = 3;
		const padding = 4;

		const myCake = new LayerCake({
			padding: { top: 0, right: 5, bottom: 20, left: 25 },
			x: 'myX',
			y: 'myY',
			xPadding: [padding, padding],
			yPadding: [padding, padding],
			data: points,
			target: this.refs.chart,
			custom: {
				r
			}
		})
			.svgLayers([
				{ component: AxisX, opts: {} },
				{ component: AxisY, opts: {} }
			])
			.canvasLayers([
				{ component: Scatter, opts: { color: '#c0f' } }
			]);

		myCake.render();
	}
};
</script>
