{#each $data as d, i}
	<path class='path-area' d='{drawArea(d)}' fill="{fill(i)}"></path>
{/each}

<script>
import { area } from 'd3-shape';

export default {
	namespace: 'svg',
	data () {
		// TODO, make an actual scale
		const colors = ['#ff00cc', '#ff7ac7', '#ffb3c0', '#ffe4b8'];
		return {
			fill: i => colors[i]
		};
	},
	computed: {
		area: ({ $xScale, $yScale }) => {
			return area()
				.x(d => $xScale(d.data.month))
				.y0(d => $yScale(d[0]))
				.y1(d => $yScale(d[1]));
		},
		drawArea: ({ area }) => {
			return d => area(d);
		}
	}
};
</script>
