<nav>
	<ul>
		<li class="hero"><a href="" rel=prefetch on:click="set({page: ''})">LayerCake Examples</a></li>
		<li>View...</li>
		<li>
			<select on:change="loadPage()" bind:value=page>
				<option selected="{segment === undefined}" value="">All</option>
				{#each examples as example}
					<option value="examples/{example.slug}" selected="{params.slug === example.slug}">{example.title}</option>
				{/each}
			</select>
		</li>
	</ul>
</nav>

<style>
	nav {
		border-bottom: 1px solid rgba(170,30,30,0.1);
		font-weight: 300;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
		padding: 1em 0.5em;
	}

	.hero {
		font-weight: bold;
	}

	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
</style>

<script>
import examples from '../routes/_examples.js';

export default {
	data () {
		return {
			examples
		}
	},
	methods: {
		loadPage () {
			const { page } = this.get();
			window.location = page;
		}
	}
}
</script>
