<nav>
	<ul>
		<li><a class='{segment === undefined ? "selected" : ""}' href='.'>gallery</a></li>
		<li>
			<select on:change="loadPage()" bind:value=page>
				<option selected="{segment === undefined}" value="/">All...</option>
				{#each examples as example}
					<option value="examples/{example}" selected="{params.slug === example}">{example}</option>
				{/each}
			</select>
		</li>
		<!-- <li><a class='{segment === "blog" ? "selected" : ""}' href='blog'>blog</a></li> -->
	</ul>
</nav>

<style>
	nav {
		border-bottom: 1px solid rgba(170,30,30,0.1);
		font-weight: 300;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
		padding: 1em 0.5em;
	}

	.selected {
		position: relative;
		display: inline-block;
	}

	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(170,30,30);
		display: block;
		bottom: -1px;
	}

	a {
		text-decoration: none;
		display: block;
	}
</style>

<script>
export default {
	data () {
		return {
			examples: ['Area', 'Line']
		}
	},
	methods: {
		loadPage () {
			const { page } = this.get();
			window.location = page;
		}
	}
}
</script>
