{#each $data.features as feature}
	<path class="feature-path" fill="{fillRandom(Math.random())}" d="{geoPath(feature)}"></path>
{/each}

<style>
	.feature-path {
		stroke: #333;
		stroke-width: 1px;
	}
</style>

<script>
import * as geo from 'd3-geo';

export default {
	namespace: 'svg',
	computed: {
		projection: ({ $width, $height, $data, $custom }) => {
			return geo[$custom.projection]()
				.fitSize([$width, $height], $data);
		},
		geoPath: ({ projection }) => {
			return geo.geoPath(projection);
		}
	},
	helpers: {
		fillRandom: (random) => {
			var colors = ['#fc0', '#cf0', '#f0c', '#0cf', '#c0f', '#0fc'];
			var index = Math.round(random * (colors.length - 1));
			return colors[index];
		}
	}
};
</script>
