<g
	transform="translate({ $width / 2 }, { $height / 2 })"
>
	<circle
		cx="0"
		cy="y"
		r="{max}"
		stroke="#ccc"
		stroke-width="1"
		fill="none"
	></circle>
	<circle
		cx="0"
		cy="y"
		r="{max / 2}"
		stroke="#ccc"
		stroke-width="1"
		fill="none"
	></circle>

	{#each $originalSettings.r as label, i}
		<line
			x1="0"
			y1="0"
			x2="{(max * linePaddingFactor) * Math.cos(angleSlice * i - Math.PI/2)}"
			y2="{(max * linePaddingFactor) * Math.sin(angleSlice * i - Math.PI/2)}"
			stroke="#ccc"
			stroke-width="1"
			fill="none"
		>
		</line>
		<text
			text-anchor="middle"
			dy="0.35em"
			text-outline="#fff"
			transform="translate({(max * labelPaddingFactor) * Math.cos(angleSlice * i - Math.PI/2)}, {(max * labelPaddingFactor) * Math.sin(angleSlice * i - Math.PI/2)})">{label}</text>
	{/each}
</g>

<script>
export default {
	namespace: 'svg',
	data () {
		return {
			linePaddingFactor: 1.11,
			labelPaddingFactor: 1.31
		};
	},
	computed: {
		max: ({ $domains, $rScale }) => {
			return $rScale(Math.max(...$domains.r));
		},
		angleSlice: ({ $originalSettings }) => {
			return Math.PI * 2 / $originalSettings.r.length;
		}
	}
};
</script>
